body, html {
    background-color: #1a1a1a;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    overflow: auto;
}
.navbar {
    width: 100%;
    padding: 5px;
    z-index: 100;
    top: 0;
    background-color: #333;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.navbar a p {
    text-decoration: underline;
}

.navbar h1 {
    margin-left: 20px;
}

.navbar a:hover {
    color: #ccc;
    text-decoration: underline;
}

.navbar a:last-child {
    margin-left: auto;
    margin-right: 50px;
}

form {
    margin-top: 90px;
    text-align: left;
    margin-left: 5vw;
}


label {
    display: block; 
    margin-bottom: 5px; 
    margin-left: 75px;
}

input {
    padding: 10px;
    margin: 5px;
    width: 300px;
    border: 1px solid #666666;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #333333;
    color: #ffffff;
}

button {
    padding: 10px 20px;
    background-color: #3c56fd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 105px;
    margin-top: 10px;
}

button:hover {
    background-color: #3c56fd98;
}

.chart {
    position: absolute;
    top: 92px; 
    right: 20px; 
    width: 300px;
    height: 100%;
}
.chart h2 {
    margin-left: 34px;
}
.response {
    text-align: center;
    margin-top: -135px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.graph {
    text-align: center;
    margin-top: 40px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}
